<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SORTJOB.step0.Input" value="D:\SummerBatch\Summer.Batch.CoreTests\bin\Debug\TestData\Sort\Input\sort17.txt" />
  <add key="SORTJOB.step0.Output" value="D:\SummerBatch\Summer.Batch.CoreTests\bin\Debug\TestData\Sort\Input\sort17_O.txt" />
  <add key="SORTJOB.step1.Input" value="D:\SummerBatch\Summer.Batch.CoreTests\bin\Debug\TestData\Sort\Input\sort17.txt" />
  <add key="SORTJOB.step1.Output" value="D:\SummerBatch\Summer.Batch.CoreTests\bin\Debug\TestData\Sort\Input\sort17_O_binary.txt" />
</appSettings>
